.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  font-weight: bold;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a.active {
  background: #C1E899;
  color: #149616;
}

.nav-links button {
  cursor: pointer;
  border: 3px solid #C1E899;
  color: #d1fca5;
  background: #97b678;
  padding: 0.5rem;
  font: inherit;
  font-weight: bold;
  border-radius: 0px;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #07380842;
  color: #d3ffa7;
}

.login-button {
  border: 3px solid #C1E899;
  color: #d1fca5;
  padding: 0.4rem 0.019rem;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    color: rgb(255, 255, 255);
    background: transparent;
    font-weight: bold;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #23170b43;
    color: #d3ffa7;
  }
}
