.cart-container {
  padding: 20px;
}

.cart-container h1 {
  margin-bottom: 20px;
}

.cart-page {
  display: flex;
  gap: 20px;
}

ul {
  flex: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
}

.cart-item__image {
  width: 80px;
  height: 80px;
  background-color: #149616;
}

.cart-summary {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: fit-content;
}

.cart-summary p {
  margin: 5px 0;
}

button {
  background-color: #9A6735;
  color: #E6F0DC;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
  border-radius: 50px;
  font-size: 1.2em;
}

button.plusminus{
  background-color: #E6F0DC;
  color: #149616;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: xx-large;
  font-weight: bolder;
  border-color: #149616;
  border: 1px solid;
  margin:20px;
}

span{
  font-weight: bolder;
  font-size: 2em;
}

button:hover {
  background-color: #149616;
  color: #E6F0DC;
}
