.cart-container {
  padding: 20px;
}

.cart-container h1 {
  margin-bottom: 20px;
}

.cart-page {
  display: flex;
  gap: 20px;
}

ul {
  flex: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
}

.cart-item__image {
  width: 80px;
  height: 80px;
  background-color: #ccc;
}

.cart-summary {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: fit-content;
}

.cart-summary p {
  margin: 5px 0;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
